.all_name_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.HStack {
  min-width: 370px;
  width: 600px;
}

.separator {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.hr {
  width: 150px;
}
.separator_text {
  color: #a0a0a0;
  font-weight: bold;
}
.auth {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.form {
  margin: auto;
  width: max-content;
  border-radius: 8px;
  box-shadow: 1px 3px 13px 0px rgba(0, 0, 0, 0.53);
  -webkit-box-shadow: 1px 3px 13px 0px rgba(0, 0, 0, 0.53);
  -moz-box-shadow: 1px 3px 13px 0px rgba(0, 0, 0, 0.53);
}
