.all_name_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.HStack {
  border-radius: 22px;
  background: var(--color3);
  color: var(--color1);
  min-width: 370px;
  width: 600px;
}

.separator {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.hr {
  border-color: var(--color1);
  width: 150px;
}
.separator_text {
  color: var(--color1-1);
  font-weight: bold;
}
.auth {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.form {
  margin: auto;
  width: max-content;
  border-radius: 8px;
}
