.card {
  cursor: pointer;
  transition: transform .2s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 12px;
  background-color: var(--color3);
}
.img{
  width: 300px;
  height: 300px;
  object-fit: cover;
  margin-bottom: 12px;
  border-radius: 12px;
}
.cardContainer{
  /* font-family: "Poppins"; */
}

.card:hover {
  transform: translateY(-8px);
}
