.button {
  border-radius: 1000px;
  font-family: "Poppins";
}
.navLogo {
  margin-right: 16px;
  fill: var(--color1);
  transition: transform 0.2s;
}
.navLogo:hover {
  transform: translateY(-4px);
  fill: var(--color2);
}
